.card {
	padding: 10px;
	border: 3px solid #ccc;
	width: 300px;
	margin: 20;
	box-shadow: 0 5px 5px;
	margin: 50;
}

.card-title {
	margin: 10;
	font-size: 1.875rem;
	border: 1px solid #ccc;
}

.card-picture {
	width: 300px;
	max-width: 400px;
	border: 3px solid #ccc;
}

.card-content {
	font-style: italic;
}

.card-content .card-info {
	margin: 15;
	font-size: 0.913rem;
	border: 3px solid #ccc;
	padding: 7px;
}

.card-details {
	padding: 0;
	list-style: none;
	border: 3px solid #ccc;
}

li span {
	font-weight: bold;
	font-style: normal;
	padding: 15px;
}
